name: Docker

permissions:
  packages: write

on:
  push:
    branches:
      - master
    tags:
      - '*'
    paths-ignore:
      - CHANGELOG.md

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Init Env
        run: echo "REPOSITORY_NAME=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: starudream
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Login to Github Package
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: starudream
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: meta
        name: Setup Docker Meta
        uses: docker/metadata-action@v4
        with:
          images: |
            starudream/${{ env.REPOSITORY_NAME }}
            ghcr.io/starudream/${{ env.REPOSITORY_NAME }}
          tags: |
            type=semver,pattern=v{{major}}.{{minor}}.{{patch}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}
            type=ref,event=branch
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
