name: Golang

on:
  push:
    branches:
      - master
    paths-ignore:
      - CHANGELOG.md
  pull_request:
    branches:
      - master
    paths-ignore:
      - CHANGELOG.md

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      - name: Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build
        run: make bin
